@page
@model Co_Mute.Pages.Pool.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update your Details</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AvailablePool.AvailablePoolId" />
            <div class="form-group">
                <label asp-for="AvailablePool.FirstName" class="control-label"></label>
                <input asp-for="AvailablePool.FirstName" class="form-control" />
                <span asp-validation-for="AvailablePool.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailablePool.LastName" class="control-label"></label>
                <input asp-for="AvailablePool.LastName" class="form-control" />
                <span asp-validation-for="AvailablePool.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
